*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth; /* Desplazamiento suave para toda la página */
}

body{
  background-color: #F8D9DE;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
}

/*INICIO DE LA CABECERA*/
.cont_header{
  display: flex;
  justify-content: center;
  padding: 1% 2%;
  
}

.cont_img{
  display: flex;
  max-width: 50%;
}

.cont_titulo{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.cont_logo{
  display: flex;
  width: 15%;
}

.logo{
  width: 100%;
}

.titulo{
  color: #996AA1;
  font-size: 2.3em;
}

.cont_img {
  max-width: 100%;
  max-height: 100px;
}

.img{
  width: 100%;
  height: 50%;
}

.cont_ul {
  display: flex;
  background-color: #996AA1;
  align-items: center;
  margin-top: 25px;
  border-radius: 40px;
  padding: 25px;
  height: 50px;
  max-width: 510%;
}

ul {
  display: flex;
  align-items: center;
}

ul a {
  text-decoration: none;
  padding: 4px 5px;
  margin-right: 30px;
}

.buscar-container {
  position: relative;
  display: flex;
  align-items: center;
}

.buscar {
  border-radius: 40px;
  border-color: transparent;
  width: 150px;
  height: 35px;
  padding-left: 10px;
  padding-right: 30px; 
}

.lupa {
  position: absolute;
  right: 5px; 
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  
  cursor: pointer;
}

li {
  list-style: none;
  font-size: 1em;
  color: #F8D9DE; 
  
  padding-right: 0px;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.btn-nosotros{
  list-style: none;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
  color: #F8D9DE;
  background: transparent;
  border: none;
  
}

.btn-nosotros:hover{
  text-decoration: underline;
  cursor: pointer;
}


.content-redes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.content-redes img{
  width: 30px;
  height: 30px;
  margin-right: 7px;
  
}
.content-redes img:hover{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.contenedor {
  position: relative;
  display: inline-block;
}

.texto-hover {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-70%);
  background-color: white;
  color: #713d63;
  padding: 10px;
  border: transparent;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.imagen-con-hover:hover .texto-hover {
  opacity: 1;
}

/*FIN DE LA CABECERA*/

/*INICIO CONTENIDO*/
.agendar{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0em 1em 0em;
    
}

.cont_agendar{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #996AA1;
  border-radius: 10px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  color: #fff;
}

.contenido{
    border: 1px solid black;
    background: #e5c4fc98;
    margin: 2% 4%;
    padding-bottom: 2%;
    border-radius: 10px;
    
}

label{
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0em 1em 0em;
}

input{
    font-size: 1.2em;
    padding: .5em;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

input:focus {
    outline: 2px solid #996AA1;
    border-bottom: none;
}

select{
    font-size: 1.2em;
    padding: .5em;
    border-radius: 5px;
}

.cont_flex{
    display: flex;
}

.cont_input{
    display: grid;
    margin: 0% 2.2%;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/*CONSENTIMIENTO*/
.cont_consentimiento{
    border: 1px solid black;
    border-radius: 10px;
    margin: 2%;
    background-color: #e5c4fc98;
}

.titulo_texto{
    margin: 1%;
}

.texto{
    font-size: 1em;
    margin: 1em 2em 1em 2em;
}

.nota{
  color: #fff;
  font-weight: 500;
}

.llenar{
    font-size: .8em;
    margin: .2em 0em .2em 0em;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    background-color: transparent;
}
.llenar:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.estilo_select{
    font-size: .8em;
    padding: .5em;
    border-radius: 5px;
}
.estilo_select:focus {
    outline: none;
}

.cont_nota{
  background-color: #996AA1;
  border-radius: 6px;
  padding: .7em;
}

/*BOTON DE AUTIROZAR*/
.cont_check{
    display: grid;
    justify-content: center;
    margin-left: -6%;
}

.checkbox-wrapper-10 .tgl {
    display: none;
  }
  
  .checkbox-wrapper-10 .tgl,
    .checkbox-wrapper-10 .tgl:after,
    .checkbox-wrapper-10 .tgl:before,
    .checkbox-wrapper-10 .tgl *,
    .checkbox-wrapper-10 .tgl *:after,
    .checkbox-wrapper-10 .tgl *:before,
    .checkbox-wrapper-10 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  
  .checkbox-wrapper-10 .tgl::-moz-selection,
    .checkbox-wrapper-10 .tgl:after::-moz-selection,
    .checkbox-wrapper-10 .tgl:before::-moz-selection,
    .checkbox-wrapper-10 .tgl *::-moz-selection,
    .checkbox-wrapper-10 .tgl *:after::-moz-selection,
    .checkbox-wrapper-10 .tgl *:before::-moz-selection,
    .checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
    .checkbox-wrapper-10 .tgl::selection,
    .checkbox-wrapper-10 .tgl:after::selection,
    .checkbox-wrapper-10 .tgl:before::selection,
    .checkbox-wrapper-10 .tgl *::selection,
    .checkbox-wrapper-10 .tgl *:after::selection,
    .checkbox-wrapper-10 .tgl *:before::selection,
    .checkbox-wrapper-10 .tgl + .tgl-btn::selection {
    background: none;
  }
  
  .checkbox-wrapper-10 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-wrapper-10 .tgl + .tgl-btn:after,
    .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  
  .checkbox-wrapper-10 .tgl + .tgl-btn:after {
    left: 0;
  }
  
  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    display: none;
  }
  
  .checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
    .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 200%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #02C66F;
    transform: rotateX(-180deg);
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    background: #FF3A19;
    content: attr(data-tg-off);
  }
  
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
    transform: rotateX(-20deg);
  }
  
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
    transform: rotateX(180deg);
  }
  
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #7FC6A6;
  }
  
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateX(20deg);
  }

.cont_nota{
    border: 1px solid black;
    margin: 1% 2%;
}

/*BTN ENVIAR*/
.cont_btn_enviar{
    display: grid;
    justify-content: center;
    margin: 2%;
}

.btn {
    --color: #996AA1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
  }
  
  .btn div {
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--color);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
  }
  
  .btn::before {
    content: '';
    z-index: -1;
    background-color: var(--color);
    border: 2px solid white;
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.2;
  }
  
  .btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.1);
  }
  
  .btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
  }
  
  .btn svg {
    transform: translateX(-200%);
    transition: .5s;
    width: 0;
    opacity: 0;
  }
  
  .btn:hover svg {
    width: 25px;
    transform: translateX(0%);
    opacity: 1;
  }
  
  .btn:active {
    filter: brightness(1.4);
  }

/*FIN CONTENIDO*/


/*INICIO DEL FOOTER*/

footer{
  background: rgb(113,61,99);
background: linear-gradient(0deg, rgba(113,61,99,1) 0%, rgba(153,106,161,1) 100%);
  color: #fff;
  font-size: 12px;
}
.foot-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}


.info-dos-uno{
  display: flex;
  margin-top: 8px;
}

.info-dos-uno h3{
  font-weight: 200;
  font-size: 14px;
  margin-left: 5px;
}
.info-dos img{
  width:20px;
  height: 20px;
}
.info-tres h3{
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 5px;
  padding-top: 4px;
}
.info-tres h3:hover{
  color: #EEA98F;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}

.galeria{
  color: #fff;
}

.info-cuatro-uno h2{
  margin-bottom: 5px;  
}
.info-cuatro-uno input{
  height: 25px;
  border-radius: 5px;
  border:none;
  margin-bottom: 5px;
  padding: 4px;
}
.info-cuatro-uno button{
  padding: 4px 6px;
  background-color: #F8D9DE;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
}
.info-cuatro-uno button:hover{
  background-color: #e3c6cb ;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}


.info-cuatro-dos img{
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 10px;
}
.info-cuatro-dos img:hover{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.info-cuatro-dos{
  margin-top: 8px;
}


.foot-legal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 8px;
  margin-right: 50px;
}
.cont-legal{
  display: flex;
  
}
.copy{
  font-weight: 200;
  color: rgb(180, 180, 180);
  margin-left: 10%;
  width: 100%;
  font-size: 2em;
}
.cont-legal h3{
  margin-right: 10px;
  font-weight: 200;
  color: rgb(180, 180, 180);
  font-size: 2em;
}
.cont-legal h3:hover{
  color: #EEA98F;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}

.whatsapp {
  position: fixed;
  bottom: 20px; 
  right: 15px; 
  z-index: 1000;
  width: 50px;
  height: 50px;

}
.whatsapp:hover{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer; 
}

.btn_ubi{
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.btn_ubi:hover{
  text-decoration: underline;
  color: #EEA98F;
  transition: all 0.3s ease-in-out;
}

/* FIN FOOTER */

a{
    text-decoration: none;
}


/* Responsive para tablet y móvil */
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .cont_logo {
    width: 20%; /* Ancho del contenedor del logo para tablet */
  }

  .cont_titulo {
    width: 80%; /* Ancho del contenedor del título para tablet */
    text-align: center; /* Alinear el texto al centro */
  }

  .cont_ul {
    margin-top: 15px; /* Margen superior para la lista de redes sociales */
    padding: 15px; /* Relleno para la lista de redes sociales */
    text-align: center; /* Alinear la lista de redes sociales al centro */
  }

  .content-redes {
    margin-left: 0; /* Eliminar el margen izquierdo de las redes sociales */
  }

  .cont_input {
    margin: 10px auto; /* Margen para los campos de entrada */
    max-width: 80%; /* Ancho máximo para los campos de entrada */
  }

  input, select {
    width: 100%; /* Ancho completo para los campos de entrada y selección */
  }

  .cont_consentimiento {
    padding: 2%; /* Relleno para el consentimiento */
    text-align: center; /* Alinear el texto del consentimiento al centro */
  }

  /* FOOTER */
.info-uno h1{
  font-weight: bold;
  font-size: 2em;
}

.info-dos h2{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.info-tres h2{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.info-cuatro-dos h2{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.info-cuatro-dos img{
  margin-top: 5%;
  width: 3em;
  height: 3em;
}
/* FIN FOOTER */
}

/* Responsive para móvil */
@media screen and (min-width: 0px) and (max-width: 699px) {
  /* Alinear el contenido inicial al centro en una columna */
  .content-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Establecer el ancho del contenido izquierdo y derecho al 90% del contenedor */
.content-left,
.content-right {
    width: 100%;
}

/* Alinear el texto al centro y añadir un margen inferior de 1.25em */
.content-text {
    text-align: center;
    margin-bottom: 1.25em;
}

/* Establecer márgenes superior e inferior para los párrafos dentro del texto */
.content-text p {
    margin-top: 0;
    margin-bottom: 0.625em;
}

/* Añadir margen superior al contenido derecho y alinear las imágenes al centro */
.content-right {
    margin-top: 1.25em;
    text-align: center;
}

/* Ajustar el tamaño de las imágenes al 100% del contenedor con un máximo de 12.5em,
   mantener la proporción y aplicar un radio de borde de 0.625em */
.content-right img {
    width: 100%;
    max-width: 12.5em;
    height: auto;
    border-radius: 0.625em;
}

/* Cambiar el orden de los elementos de contenido */
.content-img:nth-of-type(1) {
    order: 1;
}

.content-text:nth-of-type(1) {
    order: 2;
}

.content-img:nth-of-type(2) {
    order: 3;
}

.content-text:nth-of-type(2) {
    order: 4;
}

/* Ajustar el espacio entre palabras en el título a 0 */
.cont_titulo h1 {
    white-space: nowrap;
}

/* Cambiar la dirección de la fila a columna y alinear los elementos al centro */
.cont_header {
    flex-direction: column;
    align-items: center;
}

/* Añadir margen superior e inferior a los elementos de redes sociales */
.content-redes {
    margin-top: 0.625em;
    margin-bottom: .625em;
    margin-left: 1em; /* Agregar un margen izquierdo de 1em */
}

.cont_flex {
  flex-wrap: wrap;
}

.cont_input {
  margin: 10px auto; 
  max-width: 90%; 
}

input, select {
  width: 100%;
}

.cont_consentimiento {
  padding: 2%;
  text-align: center;
}

/* HEADER */
.cont_header {
  flex-direction: column;
  align-items: center;
}

.content-redes {
  margin-top: 1em;
  margin-bottom: .625em;
  margin-left: 0px;
}

.cont_logo {
  width: auto;
  margin-bottom: 5.25em;
}

.cont_titulo {
  width: auto;
  margin-left: 1%;
}

.titulo{
  font-size: 2em;
}

.cont_img {
  width: 18.75em;
  max-width: 18.75em;
}

.logo{
  width: 5em;
}

ul a{
  margin-right: 0px;
  margin: .5em;
}
/* FIN HEADER */

.cont_consentimiento{
  text-align: left;
}

.llenar{
  width: 10em;
}

.nombre{
  width: 15em;
}

.texto{
  margin: 5% 1%;
  text-align: justify;
}

.texto2{
  line-height: 2.5em;
}

.estilo_select{
  width: 15em;
}

.nota{
  font-size: 1.1em;
}

.cont_btn_enviar{
  margin: 2em;
}

/* FOOTER */

.foot-info{
  display: grid;
}

.info-uno h1{
  font-size: 3em;
  font-weight: bold;
}

.info-dos{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.info-dos h2{
  text-align: center;
  font-weight: bold;
}

.info-dos img{
  width: 2em;
  height: 2em;
}

.info-dos-uno h3{
  display: flex;
  align-items: center;
  margin-bottom: 0%;
}

.info-tres{
  margin: 10%;
}

.info-tres h2{
  text-align: center;
  font-weight: bold;
}

.info-tres h3{
  font-size: 1.5em;
  text-align: center;
}

.info-cuatro-dos h2{
  text-align: center;
  font-weight: bold;
}

.redes_sociales{
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-legal{
  display: grid;
  justify-content: center;
  align-items: center;
}

.copy{
  font-size: 2em;
  width: auto;
  margin-left: 0px;
  text-align: center;
}

.cont-legal h3{
  font-size: 2em;
  margin-top: .5em;
}
/* FIN FOOTER */

/* AUTORIZAR */
.cont_check{
  margin-left: -5em;
}
}

/* Responsive para Tablet */
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .cont_header {
    flex-direction: column;
    align-items: center;
}

.content-redes {
    margin-top: 1em;
    margin-bottom: .625em;
    margin-left: 0px;
}

.cont_titulo h1 {
  white-space: nowrap;
}

.cont_logo {
    width: auto;
    margin-bottom: 5.25em;
}

.cont_titulo {
    width: auto;
    margin-left: 1%;
}

.cont_img {
    width: 18.75em;
    max-width: 18.75em;
}

.logo{
    width: 5em;
}

  .cont_btn_enviar{
    margin: 2em;
  }
  
  .cont_consentimiento{
    text-align: left;
  }
  
  .llenar{
    width: 10em;
  }
  
  .nombre{
    width: 15em;
  }
  
  .texto{
    margin: 5% 1%;
    text-align: justify;
  }
  
  .texto2{
    line-height: 2.5em;
  }
  
  .estilo_select{
    width: 15em;
  }
  
  .nota{
    font-size: 1.1em;
  }

  .cont_input{
    margin: 2em;
  }

  /* AUTORIZAR */
.cont_check{
  margin-left: -5em;
}
}